xsd/InherentRiskProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
  <!-- Root element -->
  <xs:element name="RiskProfileTree">
    <xs:annotation>
      <xs:documentation>
        Root element containing the hierarchical risk profile tree structure.
        The tree represents the parent-child relationships between risk profile assessment factors
        based on their Profile_ID identifiers.
        
        Generated by: build_tree_cli tool
        Hierarchy: Profile_IDs are organized in a tree where parent nodes have trailing zeros
        and child nodes inherit the parent's prefix with incremental values.
        
        Example hierarchy:
          RI0100000000 (root)
          ├── RI0100100000 (child)
          │   ├── RI0100100100 (grandchild)
          │   └── RI0100100200 (grandchild)
          └── RI0100200000 (child)
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RiskProfileNode" type="RiskProfileNodeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Complex type for Risk Profile node -->
  <xs:complexType name="RiskProfileNodeType">
    <xs:annotation>
      <xs:documentation>
        Represents a single node in the risk profile tree.
        Each node contains metadata about a risk assessment factor and may have child nodes.
        
        The hierarchical structure is determined by Profile_ID patterns:
        - Parent nodes typically have more trailing zeros (e.g., RI0100000000)
        - Child nodes share parent prefix with non-zero increments (e.g., RI0100100000)
        - Grandchildren continue the pattern (e.g., RI0100100100)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Node attributes -->
      <xs:element name="Profile_ID" type="ProfileIDType">
        <xs:annotation>
          <xs:documentation>
            Unique identifier for the risk profile assessment factor.
            Format: RIxxxxxxxx (e.g., RI0100000000, RI0700100000)
            
            Profile_ID Structure:
            - RI: Fixed prefix for Risk Identifier
            - 2 digits: Major risk category (01=Credit, 07=Strategic, etc.)
            - 6 digits: Hierarchical position composed of 2-digit segments
            
            Parent-Child Relationship:
            - Parent ends with more zeros: RI0100000000
            - Direct child differs in one segment: RI0100100000
            - Grandchild adds another level: RI0100100100
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      
      <xs:element name="risiko_name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Name of the risk category in Indonesian language.
            Examples: "Risiko Kredit" (Credit Risk), "Risiko Stratejik" (Strategic Risk),
                     "Risiko Likuiditas" (Liquidity Risk), "Risiko Reputasi" (Reputation Risk)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="assessment_factor" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Assessment factor description in Indonesian language.
            Contains the detailed explanation of what this risk factor evaluates.
            May include multi-line descriptions with additional context in parentheses.
            
            Examples:
            - "Kesesuaian Strategi dengan Kondisi Lingkungan Bisnis"
            - "1.1 Faktor internal, antara lain:"
            - "2.3 Agunan yang Diambil Alih / Total Aset"
            
            Database: Maps to assessment_factor (text) column
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="derived_from" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Source or parent from which this assessment factor is derived.
            May reference another profile ID or data source.
            
            Database: Maps to derived_from (varchar 255) column
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    
      
      <xs:element name="input_type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Type of input required for this assessment factor.
            Examples: "manual", "calculated", "system", etc.
            
            Database: Maps to input_type (varchar 255) column - NOT NULL in DB
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="source_reference" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Reference to the data source or sandi acuan.
            May contain code or identifier pointing to source data.
            
            Database: Maps to source_reference (text) column
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="calculation_logic" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Formula or logic used to calculate this assessment factor.
            May contain mathematical expressions or business rules.
            
            Database: Maps to calculation_logic (text) column
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="weight" type="WeightType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Weight assigned to this assessment factor in calculations.
            Decimal value typically between 0 and 100.
            
            Database: Maps to weight (numeric 5,2) column
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="ID" type="xs:int" minOccurs="0" />

        <xs:element name="Risk_ID" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Numeric identifier for the risk type.
            Foreign key reference to the risk category table.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

        <xs:element name="threshold" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Threshold ranges or criteria for rating determination.
            Contains the scoring thresholds in text format.
            
            Database: Maps to threshold (text) column
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="rating_to_score" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            JSON mapping of ratings to scores.
            Contains the conversion rules from qualitative ratings to numeric scores.
            
            Example: {"Low": 1, "Medium": 2, "High": 3}
            
            Database: Maps to rating_to_score (jsonb) column

            this one is deprecated, use rating_rule and score_rule instead
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="score_formula" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Mapping between ratings and scores in formula format.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

       <xs:element name="score_formula_rule" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Evaluation rules to derive the score formula
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="rating_rule" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
          Rules to derive the rating
          </xs:documentation>
        </xs:annotation>
      </xs:element>

       <xs:element name="score_rule" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
          Rules to derive the score
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="value_rule" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
          Rules to derive the a value
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="computed_rating" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="computed_score" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="computed_value" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="computed_weighted_score" type="xs:string" minOccurs="0"></xs:element>
      
      <!-- Child nodes (recursive) -->
      <xs:element name="RiskProfileNode" type="RiskProfileNodeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Child nodes that are hierarchically related to this node.
            The parent-child relationship is determined by Profile_ID structure:
            
            Rules for parent-child relationship:
            1. Both IDs must have the same length
            2. Child shares parent's prefix up to a difference point
            3. At the difference point: parent has "00", child has non-"00"
            4. All segments after the difference must be "00" in parent
            5. Child must have only one level of difference (trailing zeros after first non-zero)
            
            Example: RI0100000000 (parent) → RI0100100000, RI0100200000 (children)
            Example: RI0700100000 (parent) → RI0700100100, RI0700100200 (children)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Simple type for Profile_ID with pattern constraint -->
  <xs:simpleType name="ProfileIDType">
    <xs:annotation>
      <xs:documentation>
        Profile_ID must follow the pattern: RI followed by 10 digits.
        The digits represent hierarchical position in the risk assessment structure.
        
        Format: RI + 2 digits (risk category) + 8 digits (hierarchical position)
        Example: RI0100000000 (RI + 01 + 00000000)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="RI[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Simple type for Weight with decimal constraint -->
  <xs:simpleType name="WeightType">
    <xs:annotation>
      <xs:documentation>
        Weight value with precision of 5 digits and 2 decimal places.
        Range: -999.99 to 999.99
        
        Database: Maps to numeric(5,2) data type
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
